/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */

html,
body {
  font-family: poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

/* Navbar */
#navbar {
  background: #010101;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
}

.nav-area {
  list-style: none;
}

.nav-area li {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
}
.nav-area li a {
  transition: all 0.3s ease 0s;
  color: #fff;
}
.nav-area li a:hover {
  color: #006c87;
}

.nav-area .current {
  background-color: #006c87;
}

.showcase {
  font-family: 'Roboto', sans-serif;
  background: url(https://lh3.googleusercontent.com/PTXp7_gsKGCJSqPNzie5Q9nrzJBYw37yUrjcgeSaaCkuVkMSCVhsA9r0FodYypm-eNDh1cxfZUjPDJQ4L7ptgYvoHVc5yZGfpnXpA2Feu7tVvkJfNYKGlP1Rxgea4cUv0SX-3pmtrVYvLNt4pfKN_GQR7WNbnAGo--5J9rAbY6aTzgP58C0DgAGNxdCjvrbPjU_a4VJYsbsBv-xn_iNuqUe9QFASgJyHDupJbS9qoUwsxLbkwjy3Xl6gLfQTs1cPGRpSgNh-BT2odXLjwEu05zkojBtgrfvpsV7wk9RMa1wcTBcD_aQudwwbh69bF0lh4TVMqP2GZTAGTBIShGynBK23qtyo15qKrGSlzDyqtPmUJqzktWwT-8dFMDPNn4Q61Zg-sq10GhiJMs-pkh8rU_yOzNZImkT9dFq22vLXe9_P5Ngd7SRoXnfHY8MUrzm8fXC6hkyI4Ukyj2O25j82g88yPkFHUGFqKcoJnQ8RRJC5e4HnL0JXz34hX2qG8xsaBQZmR1GW9xMzqifgrp0zUIRGpHs8FVW1EFwUgTB1qkuf2-8vaKZMVWIQknuO0rMmDVG0YGejju7jIjhnPitWY0w-IKrzhR3By_bW17Sn2Rzz12QRb35VyHbsZ2WRez_G8w4MCg89OcVerJAiD3iGXKM2QL0jEwwJkGOhIPI1j9fP2mAq99aGcakS02sB=w1011-h657-no?authuser=0) no-repeat center center/cover;
  color: #fff;
  height: 100vh;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase .showcase-inner a {
  border-style: solid;
  border-radius: 15%;
  color: #fff;
  padding: 10px;
  margin-bottom: 15px;
}

.showcase .showcase-inner a:hover {
  color: #fe0000ff;
}

/* Footer */

#main-footer {
  background: #010101;
  text-align: center;
  color: #fff;
  padding: 20px;
}

/* Entertainment Page */

.entertainment-cards {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://lh3.googleusercontent.com/nGTD9MgYN9MsSN9ewSRydDxnBXv5SFosWEhiWl8oEmIsWXwvkfl-vtChV64XeGAqWZIQ7tAlhiUNWJgDGnbMVCBWt8-cuZZTzFHuXvrf2I1pD8LHHvHqLDnrNLCT07ou75UhFFDR4oWc8ONMGajVGkSPtFEUroBLgr-QTPrtW1Skr_muUKzvEQXOkIiNod7ON843WUXTk3c5qHR8GpcUSizAPIU3nY46Pfjh4KcC6wOBP2TTAVl0YOhv16lZyJNdy4d17uVSm2o8dwNDRVHdOv8nCplMS3XHr4aVBaoIW8HO487SYnqLXStIwtvk-Wp87bR5WWrTvbWEwTk5yEDxrOY7-ZSACyWrPYb_vf6lzuFOLSf3R_Mr__NQ-Dk3S4tEYAxYB55q5MBH5jjaT_RSAZ4uT-ExxMECfP1FuS3siouYxtmJ_ZO1voWamb7haLF66eB11FklEH1NMHpH7MA9HWz-CRBZOsaD8qswMftVpyY7zxdx9EXkHv6eTnxsfUp0utNItcudmmaluu9gr5wlwJulu1KTkH1uJ-u6O-ZGYT4fi0F5w_qiqvpGugUBRUryrNCcF_4y3hnrDDy_eUB_yUqCFrpBfgjaYkgArspsPiSNVxSyrY6buR5I8eRtfT8H0rDvmznWRlLJSFI6vTPdr37MksVEDVBLL1hPRRJqmnE_vlnfdntsFL1h3IGn=w1168-h657-no?authuser=0') no-repeat center
    center/cover;
  overflow: hidden;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: 'image' 'text';
  margin: 0 20px;
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
}

.card-image {
  grid-area: image;
}
.card-text {
  grid-area: text;
}

#card-1 .card-image {
  grid-area: image;
  background: url('https://lh3.googleusercontent.com/aH4qoorravb0qFrTKuS1lSd2_NAnvRsWKbAtxV7JmzHm4QT2kxoxYPbwfuf3YdFO---x3ifyi7cVsOKNyx1W3gA9a36vK5rcWbBBVf9fobkXXWKPueg-Z_A62Bz40utHwMWwKrnTQlFl7iCiFGTuI4IxX1HDOmUEs_0jinrv8ZmXicw7bsUKN0WDxGqOfUBwqhQJ8XYleOcOnknbDIp-I4Huv1DrEp9YUsFivPkOOErpDNGioq5VywWmd65_7tjddZUtt5l1zREVTX6OixXu5FNhhePiw5Pu6VwggSqq-nqwwO9K8F7uRriumoi3xRjZTP__isY6mTr1aeZtdI8znK7K5LDHdMi44XRv8pG4dIG6PU_FWtaBRf6GaYCaVcHnSmm0EsZ8TNSmdmwpQkBTEopYDtCoZpIlUY8TqLIhNg9oX0erfxebV5n5sJqmoTPQocCksUK4IwIoPvHM5nZ7yPgWpjI6EUHTix0n2YkQhvYlEuzF38-JJ67gdK3giRRDIY7Y7vstj8wpCIe2k5_9nvq3me_RvFUp-KKQkwd5iPBmAEhZ_2GSDg4RVJ47z-1QAgBXoU-Ja53coMdJg-T4NH7VPPQdizfhl1TGSSzroq0FpzlGYPy_Tt8qYjCVqkbpONQqsje94M7pnx1ByLuKzuSTjiDYXfqdt2doUb-bKV2xwQuJg75yImeVz4eh=w438-h657-no?authuser=0');
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
#card-2 .card-image {
  grid-area: image;
  background: url('https://lh3.googleusercontent.com/1rsuRjP87OKI88lAikI_sOt325hlbsv_PPkUKvdTkonDOLFnPuUhZkVU-bO7Wk17GNrpbeOFPw9Fd3jwd2hX9wuXbvHpqo9dJKFB6aYqVmKyZ8q0rduzTVJV43YiLEpWBDHabcar4CJDQi4O4iakw3rFTDsbRewhRkhpaR_9GvRicVFJ7G3j3Gr4I-N2jvbPDrr8_jOPazyhRIQ8eVsMiXyhIaqTarYEdmJ_mbuJ9rifb7zeivlL4FT_aq__mam-FtsJZWLHAygkZ5EKT8wK9I3bVOkb1DVSUfE40NC9htCK7vK373qERmhJG2nLo6bjX1oSMe3W1N6kP8tNiFaKOtdoqm_ir96S9sIruegx2egYbvVrI_Q4VPJVKse7DUggJ1X1P3qTJ-2VM9suvHOOj80ccFBOe1LpYhF-hTEfMsgfctaP80DtOc_62XUpLkWP_BuL8xiDX50WMnKDSL0xmeZ5P2D9kOajIIKVBnQ5C_h5-8ch2cWE7nxQ4xUAiVOffhMHV4rjqgKZGieJ3za2LkDwmcmWwUcV8QjybnUyV7NvhPK_n-AkVPvfm8HiwLvggS8DcXFJ62FfPYK83DA47kfxOzcFowVvbaLzKWC0DdoWVkbQNn5FfjjvhrxdD23CDQ4o2sG5XccRa9VNVZFMLA3I1mlDdqI6GA9vk5kN_evwJKQWBOj-wSWrG5uc=w876-h657-no?authuser=0');
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
#card-3 .card-image {
  grid-area: image;
  background: url('https://lh3.googleusercontent.com/upYKpqGtSrv_9C3rRLBWkHNFzJFN2UsYmKqAJycbQYQPnBpI0FWQrdu4cZ0XWdOz2iQ-YAn3FJDYyKTAWAFYrnHc9c79JzUneRbRWMvmDjkIbjztlzs2Locxz4eEp5JfmtnF9GwI89fCsELfJlkIz8e0pTrKoSIyEaJMn6RmZ4DBAaGbg0TVqlS340ZFibp6etYmJlug8pKKu-EVXj3AIxqmXH4DcoQ5XYalQtGahNP65f9Jh_cB1yuKXlF88m1KNrgeZgjpyVannZ_rF4sci6MgGKlfA0FBFjiBRpVkNuHjA4lwuXVkE3YR8uk43NvHor04y9EceAaqIMIo8m8JwAE77xL9TjKeuSt7AGkloaa5YzgI7YpKIbsycozPY3wmRhu25z2W0eSxpVWogEXOHsgOx1StlJraw6vVTR7t7JyZ95IuLqXr-pZacYeDzFws864XG5jty_Y7aBr7Mv12QErSEXcq3IO5A4EEo_NQhMP3cNtg82vsxcmu0W1Y8n3C-rP_odkOeTeK3ly2uI91scubwugLif30OjoyVuGRq2vrual-3QBibpPZWgMSFYUFsiTK63yJ0-KDsCg2aiLUoBd1IYRDvHiH5i17o5Zx22CG24nvim3kJenS4nysnx1qIgpIJ2setX0CryhYlpJ6z3H6qWVimBUoTADH7Bz4fK0NQSyTPgn7PRQ6nhvv=w986-h657-no?authuser=0');
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

/* Contact Page */

#contact-info {
  display: flex;
  background: url('https://lh3.googleusercontent.com/2P6imMqlPz0oWzpj-6Ih8wpAxAJga6XZHy2e-fpiKKl9NHjwEE2TKcoMwYxelxL7RBDuP-NXv9uvYvo0Os9hm1LrcLHQCrUqMq0u4gnPc1K0KSpfdv7K1yzH-Mj0pCWmwg0Zt6PVmDTNVWYQHgnouRKX8l11uxY7ri7oUv9qdqgsPRiv_VLm6h-9-iQo-t6drex63FM43w5V7w8R5NXvrr1IJc__0xMCRq0zTSxeL8keHoEPtwRxcGT_Tgs0s0VD6V2ZQLLLAuPx7ltEVKCYu7tufS1LlM47Xz3z7_C7VPG6trhsj_zSDvCXDzNfHHzSvopX0fN0qRJpjFeeZBM2YWsyUPBKQF9VAMhfEk1sW5V9T0gfZzwmR_F-30Mgftx_ywVDE-g-Hc6nKr_W-QUe6f72szL3TJ2kSbr9S4_FBWHHxUCfcHnz4cwcXSvQ6ahjr9OvpHcamwGrvryLCpyjTOpqrrwJzPtYD-ByY9XSN9nAJM0J-mlEpMRRgGBo-YocvUJid_FLA07wbERDPhVZsjwMzkN2sY_344Vqm5XrNr0fuhE92Cmy0ierf8cc9D1fqluWq-QMNTqGiJh3Q-jJu432yvkuzJ_nqB2G7ccBoFUsIPWLKsoMYcclwZwubil0vWVFjPHHv5PL8Ar57Jj0HxdNC4ihFNb7Bif1ejtEvIChwdyoocdIDEf-R-Pr=w438-h657-no?authuser=0') no-repeat center center/cover;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}

#contact-info .box {
  background: #333;
  color: #fff;
  border-style: solid;
  padding: 20px;
  margin: 0 20px;
  width: 300px;
  text-align: center;
}
